<div  *ngIf="!($isLoading | async);else loading">

  <div class="search">
    <input type="search" placeholder="Найти пост..." [(ngModel)]="searchStr"  class="input">
  </div>
<br>
  <table  id="customers">
    <thead>
    <th>ԻԴ</th>
    <th>Վերնագիր</th>
    <th>Տեքստ</th>
    <th>Լինկ</th>
    <th>Նկար</th>
    <th>Կատեգորի</th>
    <th></th>
    </thead>

    <tr *ngFor="let post of $Portfolio | async | searchPortfolioPipe:searchStr ;let ind=index ">
      <td>{{post.id}}</td>
      <td>{{post.Name}}</td>
      <td>{{post.description}}</td>
      <td>{{post.Link}}</td>
      <td >
      </td>
      <td>{{post.Category}}</td>
      <td>
        <button class="btn btn-dark" [routerLink]="['/admin', 'Portfolio', post.id,'edit']">բացել</button>
        <a (click)='remove(post.id)'>ջնջել</a>
      </td>
    </tr>

  </table>

</div>
<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
