<section class="site-section bg-light" id="contact-section" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Contact Us</h2>
      </div>
    </div>
    <div class="row mb-5">



      <div class="col-md-4 text-center">
        <p class="mb-4">
          <span class="icon-room d-block h4 text-primary"></span>
          <span>Armenia , Artashat Yerevanyan 1</span>
        </p>
      </div>
      <div class="col-md-4 text-center">
        <p class="mb-4">
          <span class="icon-phone d-block h4 text-primary"></span>
          <a href="#">+374 43 97 97 97</a>
        </p>
        <p class="mb-4">
          <a href="#">+374 91 21 81 81</a>
        </p>
      </div>
      <div class="col-md-4 text-center">
        <p class="mb-0">
          <span class="icon-mail_outline d-block h4 text-primary"></span>
          <a href="#">hayk_m87@mail.ru</a>
        </p>
      </div>
    </div>

  </div>
</section>
