<app-backend-error-message *ngIf="Backenderrors$ | async"
                           [Backenderrors] ="(Backenderrors$ | async)"
></app-backend-error-message>
<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-control_admin">
    <label>title</label>
    <input type='text' formControlName='title' id='title'>
    <small *ngIf="form.get('title').touched && form.get( 'title').invalid ">lracreq titley</small>
  </div>
  <div class="form-control_admin ">
    <label>description</label>
    <quill-editor formControlName='description'></quill-editor>
  </div>
  <div class="form-control_admin ">
    <label>Full description</label>
    <quill-editor formControlName='fulldescription'></quill-editor>
  </div>
  <!--<div class="form-control ">
    <label>author</label>
    <input type='text' formControlName='author' id='author'>
    <div class="validation" *ngIf="form.get('author').touched && form.get('author').invalid ">
      <small *ngIf="form.get('password')?.hasError('required')">
        lracreq hexinakin
      </small>
    </div>
  </div>-->

  <div class="form-control_admin ">
    <label>Photo</label>
    <quill-editor formControlName='Photo'></quill-editor>
  </div>

  <button type="submit " class="btn btn-dark " [disabled]='form.invalid && (isSubmiting$ | async)'>Add about</button>
  <!--[disabled]='form.invalid'-->

</form>
